extend layout
block content
    h1 #{title}
    p Math.pow() is applied to #{c1,c2} is #{m}
    p Math.sign() is applied to #{c2} is #{a}
    p Math.tanh () is applied to #{c3} is #{n}
    p Math.trunc () is applied to #{c4} is #{u}