extend layout
block content
    h1 #{title}
    p Math.pow() is applied to #{c1} is #{c}
    p Math.sign() is applied to #{c2} is #{h}
    p Math.tanh () is applied to #{c3} is #{a}
    p Math.trunc () is applied to #{c4} is #{r}